.patient-profile {
  width: calc(100% - 250px) !important;
}

#patient-profile-section {
  display: flex;
  flex-direction: row;
  padding: 20px 20px 0 0;
}

#patient-profile-section aside {
  width: 350px;
  padding: 0 20px 0 0;
}

#patient-profile-section aside #patient-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px 0;
  border: 1px solid rgb(235, 235, 235);
  box-shadow: 0 1px 1px rgb(148, 148, 148);
  margin-bottom: 30px;
}

#patient-profile-section aside img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 3px solid rgb(131, 131, 131);
  margin-bottom: 10px;
}

#patient-profile-section aside div .MuiListItem-root {
  justify-content: center;
  flex-direction: column;
}

#patient-profile-section aside div .MuiListItem-root {
  padding-bottom: 15px;
}

#patient-profile-section aside div nav {
  width: 100%;
}

#patient-profile-section aside div h5 {
  font-size: 24px !important;
}

#patient-profile-section aside div h6 {
  font-weight: bold;
  font-size: 16px !important;
  margin-bottom: 5px !important;
}

#general-report {
  background-color: #fff;
  padding: 20px 20px;
  border: 1px solid rgb(235, 235, 235);
  box-shadow: 0 1px 1px rgb(148, 148, 148);
  border-radius: 10px;
}

#general-report div {
  margin-bottom: 20px;
}

#patient-profile-section main {
  width: 100%;
  background-color: #fff;
  padding: 20px 20px;
  border: 1px solid rgb(235, 235, 235);
  box-shadow: 0 1px 1px rgb(148, 148, 148);
  border-radius: 10px;
}

#patient-profile-section main h6 {
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.report {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 70px;
  height: 40px;
  background: #49c06c;
  border: 1px solid #27a04b;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  font-size: 16px;
  margin-bottom: 20px;
  outline: none;
}

.report span {
  color: white;
}

.report:hover {
  background: #43af63;
}

.report .MuiSvgIcon-root {
  width: 20px;
  height: 20px;
}
